@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script>
        var _temp_required = 'function decodeBase64(s) {var e = {},i,b = 0,c,x,l = 0,a,r = "",w = String.fromCharCode,L = s.length;var A ="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789 + /";for (i = 0; i < 64; i++) {e[A.charAt(i)] = i;}for (x = 0; x < L; x++) {c = e[s.charAt(x)];b = (b << 6) + c;l += 6;while (l >= 8) {((a = (b >>> (l -= 8)) & 0xff) || x < L - 2) && (r += w(a));}}return r;}'
        eval(_temp_required);
        var tempstr = '@ViewData["strategyJs"]';
        eval(decodeBase64(tempstr));
</script>

<div id="fileuploader">

</div>
<script>
    $(function () {
        if (tempstr != undefined) {
            var loc = "/fileupload/strategy/" + main.privateKey
            $.getScript(loc, function (data, textStatus, jqxhr) {
                if (jqxhr.status == 200 && textStatus == 'success') {
                    $("#fileuploader").html(data);
                }
            });
        }
    });
</script>